<p><%= @character.name %></p>
<p><%= @user.username %></p>
<p><%= @game.name %></p>
<p><%= @character.gender %></p>
<p><%= @character.race %></p>
<p><%= @character.combat_class %></p>

<p><a href="/characters/<%= @character.id %>/delete">Delete Character</a> or <a href="/characters/<%= @character.id %>/edit">Edit Character</a></p>
