<p><b>Name: </b><%= @character.name %></p>
<p><b>Username: </b><%= @user.username %></p>
<p><b>Game: </b><%= @game.name %></p>
<p><b>Gender: </b><%= @character.gender %></p>
<p><b>Race: </b><%= @character.race %></p>
<p><b>Class: </b><%= @character.combat_class %></p>

<p><a href="/characters/<%= @character.id %>/edit">Edit Character</a></p>
<p><form method="post" action="/characters/<%= @character.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Character">
</form></p>
